header{
    color: $white;
    position: relative;
    min-height: 100vh;
    .header-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .header-banner h1 {
        letter-spacing: 2px;
        @include title;
        font-size: 4rem;
        font-weight: 700;
    }
    .header-banner p {
        font-family: 'Merriweather', serif;
        margin: 40px auto 60px;
        font-style: italic;
        width: 85%;
    }
    .header-banner span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 2px solid $white;
        border-radius: 100px;
    }
}