$white : #F3F3F3;
$black : #000000;
$grey : #65686A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
body {
    background: url(../img/bg.jpg) fixed center/cover;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
}
@mixin title {
    letter-spacing: 6px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}
.btn {
    color: $black;
}